@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', serif;
}

.button {
  @apply inline-flex w-full items-center justify-center gap-x-2 rounded-[10px] border border-transparent px-5 py-2 font-medium transition-colors disabled:pointer-events-none disabled:opacity-50 sm:w-auto;
}

.button-solid {
  @apply bg-primary text-white hover:bg-primary/90 focus:bg-primary/90;
}

body {
  background-color: #f2eee3;
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}



